html{
  scrollbar-width: none;
  overflow-x: hidden;
  overscroll-behavior-y: none;
  overflow: scroll;
  max-width: 100vw;
  &::-webkit-scrollbar {
    display:none;
  }
}
html
*{
  color: $color-white;
  text-decoration: none;
  // cursor: none !important;

}

a{

}
ul{
  list-style: none;
}
h1,h2{
  @include font-title-first
}
.container{
  overflow-x: hidden;
  max-width: 100vw;
}
p::selection {
    background:$color-orange;
    color: $color-white;
}
.noscroll{
  height: var(--wh, 100vh);
  width: 100vw;
  overflow: hidden !important;
}
a,p,li,span,h1,h2,h3{
  line-height: normal;
}
.navigation {
  mix-blend-mode: difference;
  position: fixed;
  top: 0;
  bottom: 0;
  margin: auto;
  z-index: 2;
  right: $pri-value;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  display: flex;
  flex-direction: column;
  align-items: center;
  @include gap-bottom(20px);
  &__wrap {
    overflow: hidden;
    position: relative;
    height: 1em;
    width: 100%;
  }
  &--num {
    font-family: $en;
    font-size: 16px;
    text-align: center;
  }
  &--current {
    transform: translateY(100%);
    position: absolute;
    top: 0px;
    background: $color-black;
    &:first-child {
      transform: translateY(0);
    }
  }
  &--bar {
    content: '';
    height: 1px;
    width: 28px;
    display: block;
    background: $color-white;
  }
}
.tp-dfwv{
  position: fixed !important;
}
