html{
  scrollbar-width: none;
  &::-webkit-scrollbar {
    display:none;
  }
}
html
*{
  color: $color-white;
  text-decoration: none;
}

a{

}
ul{
  list-style: none;
}
h1,h2{
  @include font-title-first
}
