//font
@font-face {
  font-family: "Titling Gothic FB Extd Bd";
   font-display: swap;
   font-style: normal;
   font-weight: normal;
}
@mixin font-family{
  font-family:'Titling Gothic FB Extd Bd',YakuHanJP,"Roboto";
}

@mixin font-title-first {
	font-size:88px;
	font-family: $en;
	font-weight:bold;
  @include mq(sm){
    font-size:30px;

  }
}
@mixin font-title-secondary {
	font-size:56px;
	font-family: $en;
	font-weight:bold;
  @include mq(sm){
    font-size:22px;
  }
}
@mixin font-title-thirdry {
	font-size:20px;
	font-family: $en;
	font-weight:bold;
  @include mq(sm){
    font-size:16px;
  }
}

// notosans
@mixin font-nav-primary {
	font-size:15px;
  font-family: $ja;
	font-weight:medium;
}
@mixin font-nav-secondary {
	font-size:16px;
  font-family: $en;
	font-weight:medium;
  letter-spacing: 4px;
}

// texts
@mixin font-text-primary {
	font-size:15px;
  font-family: $ja;
	font-weight:500;
	line-height:28px;
  @include mq(sm){
    font-size:16px;
  }
}
@mixin font-text-secondary {
	font-size:16px;
  font-family: $ja;
	font-weight:black;
}

@mixin font-text-secondary {
	font-size:28px;
  font-family: $ja;
	font-weight:black;
  line-height:44px;
}

$breakpoints: (
  'sm': 'screen and (max-width: 450px)',
  'md': 'screen and (max-width: 768px)',
  'lg': 'screen and (min-width: 1000px)',
  'xl': 'screen and (min-width: 1200px)'
) !default;

@mixin mq($breakpoint: md) {
  @media #{map-get($breakpoints, $breakpoint)} {
    @content;
  }
}

@mixin flex-middle{
  display: flex;
  justify-content: center;
  align-items: center;
}
@mixin grid-middle{
  display: grid;
  place-items: center;
}
@mixin absolute-middle{
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  margin: auto;
}
@mixin full-screen{
  height: var(--wh, 100vh);
  width: 100vw;
}
@mixin full-size{
  height: 100%;
  width: 100%;
}
@mixin just-fitsize{
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}

@mixin gap-right($i){
  & > * {
    margin: 0px;
    margin-right: $i !important;
    &:last-child {
      margin: 0px;
      margin-right: 0px !important;
    }
  }
}
@mixin gap-bottom($i){
  & > * {
    margin-bottom: 0px;
    margin-bottom: $i !important;
    &:last-child {
      margin-bottom: 0px;
      margin-bottom: 0px !important;
    }
  }
}

@mixin default-width{
  max-width: $default-size;
  padding-left: $pri-value;
  padding-right: $pri-value;
  margin: auto;
  @include mq(sm){
    padding-left: 30px;
    padding-right: 30px;
  }
}
@mixin primary-margin{
  padding: 0 $pri-value;
  @include mq(sm){
    padding: 0 16px;
  }
}
@mixin secondary-margin{
  padding: 0 $sec-value;
  @include mq(sm)  {
    padding: 0 16px;
  }
}
@mixin overflow-visible{
  html,
  body {
    overflow: visible;
  }
}
@mixin text-outline{
  -webkit-text-stroke: 2px $color-white;
  color: transparent;
  @include mq(sm){
    -webkit-text-stroke: 1px $color-white;
  }
}

@mixin pageNoscroll{
  html,
  body {
    overflow: hidden;
  }
}
@mixin hide-bar-parent{
  position: relative;
  overflow: hidden;
}
@mixin hide-bar{
  position: absolute;
  top: 0;
  left: 0;
  @include full-size;
  background: $color-gray;
  transform: translateX(-101%);
}
