//font
@font-face {
  font-family: "Titling Gothic FB Extd Bd";
   font-display: swap;
   font-style: normal;
   font-weight: normal;
}
@mixin font-family{
  font-family:'Titling Gothic FB Extd Bd',YakuHanJP,"Roboto";
}

$color-black: rgba(0,0,0,1);
$color-white: rgba(255,255,255,1);
$color-glay: rgba(122,122,122,1);
@mixin font-logo {
	font-size:16px;
	font-family:"Eagle";
	font-weight:book;
}
@mixin font-title-first {
	font-size:88px;
	@include font-family;
	font-weight:bold;
  @include mq(sm){
    font-size:32px;
    letter-spacing: 2px;
  }
}
@mixin font-title-secondary {
	font-size:56px;
	@include font-family;
	font-weight:bold;
  @include mq(sm){
    font-size:24px;
  }
}
@mixin font-title-thirdry {
	font-size:20px;
	@include font-family;
	font-weight:bold;
  @include mq(sm){
    font-size:20px;
  }
}

// notosans
@mixin font-nav-primary {
	font-size:14px;
  font-family: 'Noto Sans JP', sans-serif;
	font-weight:medium;
}
@mixin font-nav-secondary {
	font-size:16px;
  font-family: 'Noto Sans JP', sans-serif;
	font-weight:medium;
  letter-spacing: 4px;
}
@mixin font-text-primary {
	font-size:14px;
  font-family: 'Noto Sans JP', sans-serif;
	font-weight:medium;
	line-height:180%;
}
@mixin font-text-secondary {
	font-size:16px;
  font-family: 'Noto Sans JP', sans-serif;
	font-weight:black;
}


$breakpoints: (
  'sm': 'screen and (max-width: 450px)',
  'md': 'screen and (max-width: 768px)',
  'lg': 'screen and (min-width: 1000px)',
  'xl': 'screen and (min-width: 1200px)'
) !default;

@mixin mq($breakpoint: md) {
  @media #{map-get($breakpoints, $breakpoint)} {
    @content;
  }
}

@mixin flex-middle{
  display: flex;
  justify-content: center;
  align-items: center;
}

@mixin full-screen{
  height: 100vh;
  width: 100vw;
}
@mixin full-size{
  height: 100%;
  width: 100%;
}

@mixin gap-right($i){
  & > * {
    margin: 0px;
    margin-right: $i !important;
    &:last-child {
      margin: 0px;
      margin-right: 0px !important;
    }
  }
}
@mixin gap-bottom($i){
  & > * {
    margin-bottom: 0px;
    margin-bottom: $i !important;
    &:last-child {
      margin-bottom: 0px;
      margin-bottom: 0px !important;
    }
  }
}

@mixin default-width{
  max-width: $default-size;
  padding-left: $pri-value;
  padding-right: $pri-value;
  margin: auto;
  @include mq(sm){
    padding-left: 30px;
    padding-right: 30px;
  }
}
@mixin primary-margin{
  padding: 0 $pri-value;
  @include mq(sm){
    padding: 0 16px;
  }
}
@mixin secondary-margin{
  padding: 0 $sec-value;
  @include mq(sm)  {
    padding: 0 16px;
  }
}
@mixin overflow-visible{
  html,
  body {
    overflow: visible;
  }
}
@mixin text-outline{
  -webkit-text-stroke: 2px $color-white;
  color: transparent;
}

@mixin pageNoscroll{
  html,
  body {
    overflow: hidden;
  }
}
