//font
@mixin font-family{
  font-family:'sofia pro',YakuHanJP,"Teko";
}
@mixin font-title-primary {
	font-size:130px;
  @include font-family;
	font-weight:bold;

}
@mixin font-title-secondry {
	font-size:110px;
  @include font-family;
	font-weight:bold;
  @include mq(sm){
    font-size: 48px;
  }
}
@mixin font-nav {
	font-size:18px;
	@include font-family;
	font-weight:bold;
  letter-spacing: 2px;
}
@mixin font-text-primary {
	font-size:14px;
	font-family:YakuHanJP,"Roboto";
	font-weight: 700;
	line-height:220%;
  @include mq(sm){

  }
}
@mixin font-text-tertary {
	font-size:8px;
	font-family:YakuHanJP,"Roboto";
	font-weight: 700;
	line-height:200px;
}

$breakpoints: (
  'sm': 'screen and (max-width: 450px)',
  'md': 'screen and (max-width: 768px)',
  'lg': 'screen and (min-width: 1000px)',
  'xl': 'screen and (min-width: 1200px)'
) !default;

@mixin mq($breakpoint: md) {
  @media #{map-get($breakpoints, $breakpoint)} {
    @content;
  }
}

@mixin flex-middle{
  display: flex;
  justify-content: center;
  align-items: center;
}

@mixin full-screen{
  height: 100vh;
  width: 100vw;
}
@mixin full-size{
  height: 100%;
  width: 100%;
}

@mixin gap-right($i){
  & > * {
    margin: 0px;
    margin-right: $i !important;
    &:last-child {
      margin: 0px;
      margin-right: 0px !important;
    }
  }
}
@mixin gap-bottom($i){
  & > * {
    margin: 0px;
    margin-bottom: $i !important;
    &:last-child {
      margin: 0px;
      margin-bottom: 0px !important;
    }
  }
}

@mixin default-width{
  max-width: $default-size;
  padding-left: $pri-value;
  padding-right: $pri-value;
  margin: auto;
  @include mq(sm){
    padding-left: 48px;
    padding-right: 48px;
  }
}
@mixin primary-margin{
  padding: 0 $pri-value;
  @include mq(sm){
    padding: 0 16px;
  }
}
@mixin secondary-margin{
  padding: 0 $sec-value;
  @include mq(sm)  {
    padding: 0 16px;
  }
}
