$default-size:1080px;
$default-size-sp:100%;

$color-black: rgba(0,0,0,1);
$color-gray: rgba(122,122,122,1);
$color-light-gray: rgba(228,228,228,1);
$color-white: #ffffff;
$color-orange: rgba(255,61,0,1);

$pri-value:70px;
$sec-value:240px;
