$default-size:1440px;
$default-size-sp:100%;

$color-black: rgb(3, 3, 3);
$color-white: #FFFFFF;
$color-gray: #C4C4C4;
$color-orange: rgba(255,69,0,1);

$pri-value:60px;
$sec-value:160px;

$en: 'Titling Gothic FB Extd Bd',YakuHanJP,"Roboto";
$ja: YakuHanJP,'Roboto', sans-serif;
