$default-size:1100px;
$default-size-sp:100%;

$color-black: rgb(3, 3, 3);
$color-white: rgba(230,230,230,1);
$color-gray: rgba(140,140,140,1);
$color-orange: rgba(255,69,0,1);

$pri-value:60px;
$sec-value:160px;
